In [1]:
# download the data of electricity demand and convert it a pandas data frame

import pandas as pd
import requests

url_data = 'http://api.EIA.gov/series/?series_id=EBA.SCL-ALL.D.H&api_key=dc18856f7f589c8cb34de219b44f58ac&out=json'
values_dict = {}
search = requests.get(url_data)
        
lst_dates = [x[0][0:4] + "-" + x[0][4:6] + "-" + x[0][6:8] + " " + x[0][9:11] + ':00:00' for x in search.json()['series'][0]['data']]
lst_values = [x[1] for x in search.json()['series'][0]['data']]

demand = [('date', lst_dates), ('value', lst_values)]
df_demand = pd.DataFrame.from_items(demand)
df_demand.set_index('date', inplace = True)
df_demand.head()

                      value
date
2018-03-06 21:00:00  1297.0
2018-03-06 20:00:00  1293.0
2018-03-06 19:00:00  1300.0
2018-03-06 18:00:00  1378.0
2018-03-06 17:00:00  1484.0